*
{
    margin:0px;
    padding:0px;
}
form
{
    background-color:aquamarine;
    width:50%;
    margin-right:25%;
    margin-left:25%;
    padding:20px;
}
form div
{
    margin-top:20px;
    margin-bottom:30px;
}
form label
{
    color:lightcoral;
    width:35%;
    display:block;
}
button
{
    border-radius: 10px;
    color:lightcoral;
    width:70px;
    padding-top:9px;
    padding-bottom:9px;
    font-size: large;
}
